

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/nav.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
         
<div class="topnav">
  <a class="active" href="{{ path('homepage') }}">Accueil</a>
  <a href="{{ path('clients_show') }}"><i class="fa fa-users"></i> Nos Clients</a>
  <a  href="{{ path('projet') }}"><i class="fa fa-book"></i> Nos Projets</a>
  <a  href="{{ path('create_categorie') }}"><i class="fa fa-folder"></i> Les catégories</a>

  <div class="search-container">
   <a href="#"><b>{{ app.user.nom}}{{ app.user.prenom}}</b></a>    
   <a href=""><i class="fa fa-cogs"></i> Mon profile</a>    
   <a href="{{ path('app_logout') }}"><i class="fa fa-user"></i> Se déconnecter</a>    
  </div>
 
  </div>
</div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>